@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 235, 220);
}

header{
    background-color: #85AB3F;
}

footer{
    background-color: #913683;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.tit-hist{ 
    font-size: 1.5em;
    font-style: italic;
}

.historia { 
    font-size: 1em;
    font-style: italic;
}

.formcons{
    height: 30em;
    width: 30em;
    resize: both;
    overflow: auto;
  }

.txtcons {
    font-size: 20px;
    margin-bottom:10px;
    padding: 8px 6px;
    height: 10em;
    width: 20em;
    box-sizing: border-box;
}

.trpadv{
    box-sizing: content-box;
    width: 75%;
    height: 25em;
}

input[type=submit]:hover {
    background-color: #258a2a;
}

.fot_hist{
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0em;
    
}

.divhist{
    align-self: start;
    justify-self: stretch;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 5;
}

.divfot{
    width: 75%;
    height: 75%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.divfrase{
    align-self: end;
    grid-column-start: 1;
    grid-row-start: 1;
}

.dividx{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.titindx{
    align-self: start;
    font-weight: bold;
}